/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./sections/Contact/contact.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
/* General Styles */
body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    color: #fff;
    background-color: #b5acac;
}

.text-white {
    color: #fff !important;
}

.text-muted {
    color: #d1c2c2 !important;
}

a {
    color: #f0ad4e;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ec971f;
    text-decoration: underline;
}

/* Section Styles */
.content-section {
    padding: 80px 0;
    background-color: #b5acac;
    background-image: url('/path/to/background-image.png');
    /* Optional: Replace with your actual path */
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section-heading {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: poppins;
    font-weight: 700;
    color: #fff;
}

.section-subheading {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #140d0d;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 18px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.contact-info a {
    color: #2b2215;
}

.contact-info a:hover {
    color: #ec971f;
}

/* Form Styles */
form {
    margin-top: 1px;
    max-width: 700px;
    margin-left: 160px;
    margin-right: auto;
}

.form-group {
    margin-bottom: 20px;
    /* Reduce the gap between input fields */
}

.form-control {
    border: 1px solid #dcccbc;
    border-radius: 5px;
    background-color: #d7c3b1;
    color: #fff;
    padding: 40px;
    /* Increase the padding to make the fields bigger */
    font-size: 18px;
    /* Increase the font size */
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
    /* Ensure it adjusts with padding */
}

.form-control:focus {
    border-color: #5d67cc;
    box-shadow: none;
    outline: none;
}

textarea.form-control {
    width: 550px;
    height: 366px;
    /* Increase the height of the textarea */
}

::placeholder {
    color: #050404;
    font-weight: 400;
    text-transform: none;
}


/* Button Styles */
.btn-primary {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #ec971f;
    border-color: #ec971f;
    color: #fff;
}
.send-message-button {
    background-color: #54443c;
    color: white; /* Optional: to ensure the text is readable */
    border: none; /* Optional: to remove any default border */
    padding: 30px 30px; /* Optional: to add some padding */
    cursor: pointer; /* Optional: to change the cursor on hover */
    margin-left: 195px; /* Adjust this value to increase the left margin */
  }
  
  .send-message-button:hover {
    background-color: #3e352f; /* Optional: to change color on hover */
  }

/* Responsive Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
}

.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Success Message */
#success {
    color: #5cb85c;
    margin-top: 15px;
}
#contact {
    background-color: #f3f3e3;
  }
  .black-heading {
    color: black;
  }
  .send-message-button {
    background-color: #54443c;
    color: white; /* Optional: to ensure the text is readable */
    border: none; /* Optional: to remove any default border */
    padding: 12px 30px; /* Optional: to add some padding */
    cursor: pointer; /* Optional: to change the cursor on hover */
  }
  
  .send-message-button:hover {
    background-color: #3e352f; /* Optional: to change color on hover */
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./sections/Experiences/timeline.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.timeline {
    position: relative;
    padding: 60px 0; /* 增加顶部和底部的间距 */
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #8C7063;
}

.timeline > li {
    position: relative;
    margin-bottom: 100px; /* 增加间距为60px */
}

.timeline > li:last-child {
    margin-bottom: 0; /* 最后一个条目不需要额外的下间距 */
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.timeline > li > .timeline-panel:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.timeline > li > .timeline-panel:before,
.timeline > li > .timeline-panel:after {
    display: none; /* 移除箭头 */
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%);
    left: 50%;
    width: 90px; /* 放大圆形图片的直径 */
    height: 90px;
    margin-left: -45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

/* 自定义圆形图片 */
.timeline-badge.primary {
    background-image: url('/images/IntusCareScreenshot.webp');
}

.timeline-badge.success {
    background-image: url('/images/TikTok.webp');
}

.timeline-badge.warning {
    background-image: url('/images/hennessy.webp');
}

.timeline-badge.danger {
    background-image: url('/images/TikTok.webp');
}

.timeline-badge.info {
    background-image: url('/images/TikTok.webp');
}

.timeline-badge.extra {
    background-image: url('/images/hennessy.webp');
}

/* 对齐反向时间轴的面板 */
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

/* 响应式调整 */
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        margin-left: 0;
        width: 90px; /* 确保在小屏幕上也放大圆形图片 */
        height: 90px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }
}

body {
    background-color: #f3f3e3;
}

#timeline {
    background-color: #f3f3e3;
}

.black-heading {
    color: black;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./sections/NavBar/navbar.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.navbar {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: #84645c;
    color: white;
    padding: 10px 0;
    z-index: 1000; /* 确保导航栏在其他内容之上 */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    padding-right: 90px; 
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font: 'Poppins';
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
